Package: com.retr0dev.lazyhackbyretr0
Name: LazyHackbyRetr0
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: retr0dev
Author: retr0dev
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000)
